/* Bootstrap colors */

:root {
    --primary: #394f8a;
    --secondary: #fdf5df;
    --card: #583723;
    --text: #fefefe;
    --read: #063a21;
    --unread: #92140c;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}




/* Body/Hero styling */

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

header {
    background-color: var(--primary);
}

header h1 {
    color: var(--text);
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 30px;
}

body {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-body {
    max-height: calc(100vh - calc(73 + 140px));
    overflow-y: auto;
    width: 100%;
    flex: 1;
}


/* Scrollbar styling */

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: var(--text);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #949494;
    border-radius: 10px;
}



/* Book card styling */

ul {
    list-style-type: none;
}

.book {
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 10px;
}

p {
    color: var(--text);
    text-align: center;
}

.book-title {
    font-size: 1.7rem;
    margin-bottom: 0;
    max-width: 100%;
}

.book-author {
    font-size: 1rem;
}

.book-readStatus {
    color: var(--text);
    border: none;
    margin-bottom: 15px;
    width: 100%;
}

.read {
    background-color: var(--read);
}

.unread {
    background-color: var(--unread);
}

.removeButton {
    /* background-color: transparent; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* Read status and remove button styling */




/* Footer styling & responsiveness -- resizes based on window size*/

footer {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: var(--primary);
}

footer label {
    color: var(--text);
}


@media all and (min-width: 620px){
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    
    .text-input, 
    .checkbox-input {
        width: minmax(200px, auto);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media all and (min-width: 400px) and (max-width: 620px){
    .flex-container {
        grid-column-start: 2;
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        column-gap: 30px;
        margin-bottom: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .text-input, 
    .checkbox-input {
        width: minmax(200px, auto);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media all and (max-width: 400px){
    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 15px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .text-input, 
    .checkbox-input {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}



/* Error checking -- highlights boxes with missing information*/

.missing-info {
    box-sizing: border-box;
    border: 2px solid red;
    position: relative;
    animation: shake 0.1s;
    animation-iteration-count: 2;
    outline: none;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }    
}