/* Bootstrap colors */

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}




/* Body/Hero styling */

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

header {
    background-color: var(--bs-primary);
}

header h1 {
    color: var(--bs-white);
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 30px;
    font-size: 40px;
}

.app-body {
    max-height: calc(100vh - 140px);
    overflow: auto;
    width: 100%;
}




/* Book card styling */

ul {
    list-style-type: none;
}

li {
    background-color: var(--bs-secondary);
}





/* Footer styling & responsiveness -- resizes based on window size*/

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: var(--bs-primary);
}

footer label {
    color: var(--bs-white);
}


@media all and (min-width: 620px){
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    
    .text-input, 
    .checkbox-input {
        width: minmax(200px, auto);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media all and (min-width: 400px) and (max-width: 620px){
    .flex-container {
        grid-column-start: 2;
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        column-gap: 30px;
        margin-bottom: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .text-input, 
    .checkbox-input {
        width: minmax(200px, auto);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media all and (max-width: 400px){
    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 15px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .text-input, 
    .checkbox-input {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}



/* Error checking -- highlights boxes with missing information*/

.missing-info {
    border: 2px solid red;
    position: relative;
    animation: shake 0.1s;
    animation-iteration-count: 2;
    outline: none;
}

.missing-info::after {
    content: "<- Missing/Invalid Info";
    color: red;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }    
}